In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
datos = pd.read_excel('/content/drive/MyDrive/rend_2016a2022_modificadoxls.xlsx',sheet_name="REND",skiprows=0)

# Extraccion de datos
Separo los datos de las materias que me interesan. La materia 'principal' es calculo 2, de esta voy a sacar los alumnos

In [10]:
c2 = datos[datos['Asignatura'] == 'CALCULO 2']
c2 = c2[c2.Anho!=2020]
c2 = c2[c2.Anho!=2016]

In [11]:
for i in c2.index:

  if ('CIV' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='CIV'
  elif ('IND' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='IND'
  elif ('MEC' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='MEC'
  elif ('ELE' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='ELE'
  elif ('CGF' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='CGF'
  elif ('ECA' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='ECA'
  elif ('MCT' in c2.loc[i,'Cod.Car.Sec']):
    c2.loc[i,'Cod.Car.Sec']='MCT'

La materia anterior es calculo 1

In [6]:
c1 = datos[datos['Asignatura'] == 'CALCULO 1']
c1.columns

Index(['Idalumno', 'Cod.Asign', 'Asignatura', 'Cod.Car.Sec', 'Semestre',
       'Convocatoria', 'Anho', 'Ciclo', 'Aprobado', 'Firma.Anho', '1P', '2P',
       '3P', '4P', '4P_60', 'T', 'Asistencia', 'Requisito', '1R', '2R',
       'Nota.Final', 'periodo1', 'periodo2', 'periodo3', 'P1F', 'P2F', 'P3F'],
      dtype='object')

In [ ]:
#Aqui definimos la funcion que separara los datos
primerfinal=[]
segundofinal=[]
tercerfinal=[]

#Esta funcion identifica si el alumno rindio el primer, segundo o tercer final teniendo en cuenta que los finales rendidos se
#representan con 1F,2F o 3F

def separar(lista):
    global primerfinal
    global segundofinal
    global tercerfinal
    for nota in lista:
        if nota==0:
            primerfinal.append(0)
            segundofinal.append(0)
            tercerfinal.append(0)
        else:
            if ('1F' in nota):
                n=nota.find('1F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    primerfinal.append(int(nota[n+5]))
                else:
                    primerfinal.append(int(nota[n+3]))
            else:
                primerfinal.append(0)

            if '2F' in nota:
                n=nota.find('2F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    segundofinal.append(int(nota[n+5]))
                else:
                    segundofinal.append(int(nota[n+3]))
            else:
                segundofinal.append(0)

            if '3F' in nota:
                n=nota.find('3F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    tercerfinal.append(int(nota[n+5]))
                else:
                    tercerfinal.append(int(nota[n+3]))
            else:
                tercerfinal.append(0)

def maximo(a,b,c):
    """
    Esta funcion obtiene la nota mas alta obtenida por el alumno durante los finales. Esta funcion se
    utiliza para obtener la nota final
    """
    salida=np.zeros(len(a))
    for i in range(len(a)):
        if a[i]>=b[i] and a[i]>=c[i]:
            salida[i]=int(a[i])
        elif b[i]>=c[i]:
            salida[i]=int(b[i])
        else:
            salida[i]=int(c[i])
    return salida.astype(np.int64)

#Cargamos el contenido de 'Nota.Final' en una lista, para asi introducir la lista en la funcion
listaNotas=c1['Nota.Final']
separar(listaNotas)

#Creamos nuevas columnas en el df y le cargamos los vectores con los datos
c1['1F']=primerfinal
c1['2F']=segundofinal
c1['3F']=tercerfinal

#Hallamos la nota final y la cargamos en una nueva columna en el df
nota_final=maximo(primerfinal,segundofinal,tercerfinal)
c1['Nota_Final']=nota_final

c1.head()

TypeError: ignored

In [12]:
c2['MCT']= (c2['Cod.Car.Sec'] == 'MCT')
c2['MCT']=c2['MCT'].replace([True,False],[1,0])

c2['ELE']= (c2['Cod.Car.Sec'] == 'ELE')
c2['ELE']=c2['ELE'].replace([True,False],[1,0])

c2['IND']= (c2['Cod.Car.Sec'] == 'IND')
c2['IND']=c2['IND'].replace([True,False],[1,0])

c2['MEC']= (c2['Cod.Car.Sec'] == 'MEC')
c2['MEC']=c2['MEC'].replace([True,False],[1,0])

c2['CIV']= (c2['Cod.Car.Sec'] == 'CIV')
c2['CIV']=c2['CIV'].replace([True,False],[1,0])

c2['CGF']= (c2['Cod.Car.Sec'] == 'CGF')
c2['CGF']=c2['CGF'].replace([True,False],[1,0])

c2['ECA']= (c2['Cod.Car.Sec'] == 'ECA')
c2['ECA']=c2['ECA'].replace([True,False],[1,0])


c2['Recursante'] = 0

c2['Cant.Materias'] = 0
c2['Cant.c1'] = 0
c2['1PC1'] = 0
c2['2PC1'] = 0
c2['TC1'] = 0

c2['Cant.c2'] = 0

c2['Abandono'] = 0
c2

,Idalumno,Cod.Asign,Asignatura,Cod.Car.Sec,Semestre,Convocatoria,Anho,Ciclo,Aprobado,Firma.Anho,...,CGF,ECA,Recursante,Cant.Materias,Cant.c1,1PC1,2PC1,TC1,Cant.c2,Abandono
84,19,13008,CALCULO 2,MCT,2,1,2019,1,0,0,...,0,0,0,0,0,0,0,0,0,0
272,29,13008,CALCULO 2,ELE,2,1,2017,1,0,0,...,0,0,0,0,0,0,0,0,0,0
280,29,13008,CALCULO 2,ELE,2,2,2019,2,0,0,...,0,0,0,0,0,0,0,0,0,0
284,29,13008,CALCULO 2,ELE,2,1,2022,1,0,0,...,0,0,0,0,0,0,0,0,0,0
854,63,13008,CALCULO 2,ELE,2,1,2019,1,0,2019,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174958,4460,13008,CALCULO 2,MCT,2,1,2017,1,1,2016,...,0,0,0,0,0,0,0,0,0,0
175127,4462,13008,CALCULO 2,CIV,2,1,2022,1,1,2022,...,0,0,0,0,0,0,0,0,0,0
175284,4470,13008,CALCULO 2,IND,2,2,2021,2,0,0,...,0,0,0,0,0,0,0,0,0,0
175290,4470,13008,CALCULO 2,IND,2,1,2022,1,1,2022,...,0,0,0,0,0,0,0,0,0,0
175430,4481,13008,CALCULO 2,MCT,2,1,2017,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
for i in c2.index:
  for j in datos.loc[datos['Idalumno'] == c2.loc[i,'Idalumno']].index:
    # Cantidad de materias que el alumno esta cursando en ese mismo semestre
    if c2.loc[i,'Anho'] == datos.loc[j,'Anho'] and c2.loc[i,'Ciclo'] == datos.loc[j,'Ciclo']:
      c2.loc[i,'Cant.Materias'] += 1
    # Cantidad de veces que se cursó calculo 1
    if datos.loc[j,'Asignatura'] == 'CALCULO 1':
      c2.loc[i,'Cant.c1'] +=1
      if datos.loc[j,'Aprobado'] == 1:
        c2.loc[i,'1PC1'] = datos.loc[j,'1P']
        c2.loc[i,'2PC1'] = datos.loc[j,'2P']
        c2.loc[i,'TC1'] = datos.loc[j,'T']
    # Verifica si es o no recursante de Calculo 2
    if c2.loc[i,'Convocatoria'] == 2:
      if datos.loc[j,'Asignatura'] == 'CALCULO 2' and (c2.loc[i,'Anho'] > datos.loc[j,'Anho'] or  (c2.loc[i,'Anho'] == datos.loc[j,'Anho'] and c2.loc[i,'Convocatoria'] != datos.loc[j,'Convocatoria'])):
          c2.loc[i,'Recursante'] = 1
          # Suma la cantidad de veces que ya se curso c2
          c2.loc[i,'Cant.c2'] +=1
    else:
      if datos.loc[j,'Asignatura'] == 'CALCULO 2' and c2.loc[i,'Anho'] > datos.loc[j,'Anho']:
          c2.loc[i,'Recursante'] = 1
          # Suma la cantidad de veces que ya se curso c2
          c2.loc[i,'Cant.c2'] +=1


  # no puede ser que el alumno tenga 0 cursadas en c1, por lo que rellenamos esos datos con el minimo posible
  if c2.loc[i,'Cant.c1'] == 0:
    c2.loc[i,'Cant.c1'] = 1
c2

,Idalumno,Cod.Asign,Asignatura,Cod.Car.Sec,Semestre,Convocatoria,Anho,Ciclo,Aprobado,Firma.Anho,...,CGF,ECA,Recursante,Cant.Materias,Cant.c1,1PC1,2PC1,TC1,Cant.c2,Abandono
84,19,13008,CALCULO 2,MCT,2,1,2019,1,0,0,...,0,0,0,5,1,0,0,0,0,0
272,29,13008,CALCULO 2,ELE,2,1,2017,1,0,0,...,0,0,1,5,1,0,0,0,1,0
280,29,13008,CALCULO 2,ELE,2,2,2019,2,0,0,...,0,0,1,4,1,0,0,0,2,0
284,29,13008,CALCULO 2,ELE,2,1,2022,1,0,0,...,0,0,1,3,1,0,0,0,3,0
854,63,13008,CALCULO 2,ELE,2,1,2019,1,0,2019,...,0,0,0,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174958,4460,13008,CALCULO 2,MCT,2,1,2017,1,1,2016,...,0,0,1,4,1,0,0,0,1,0
175127,4462,13008,CALCULO 2,CIV,2,1,2022,1,1,2022,...,0,0,0,5,3,17,19,6,0,0
175284,4470,13008,CALCULO 2,IND,2,2,2021,2,0,0,...,0,0,0,6,2,17,15,8,0,0
175290,4470,13008,CALCULO 2,IND,2,1,2022,1,1,2022,...,0,0,1,6,2,17,15,8,1,0
175430,4481,13008,CALCULO 2,MCT,2,1,2017,1,0,0,...,0,0,1,4,1,0,0,0,1,0

# Condicion de abandono
Con estos filtros yo encuentro a las personas que creo que abandonaron la materia

## Condicion 1
Que no hayan rendido el final o el 2do parcial

In [14]:
c2_filtro1 = c2[c2['Nota.Final'].isna()]
c2_filtro1 = c2_filtro1[c2_filtro1['2P'] == 0]
indices_filtrados = c2[c2['Idalumno'].isin(c2_filtro1['Idalumno'])].index
c2.loc[indices_filtrados, 'Abandono'] = 1

## Condicion 2
Que no tenga el requisito de asistencia

In [15]:
c2_filtro2 = c2[c2['Asistencia'] == 0 ]
indices_filtrados = c2[c2['Idalumno'].isin(c2_filtro2['Idalumno'])].index
c2.loc[indices_filtrados, 'Abandono'] = 1

In [16]:
df = c2.filter(items = ['Anho','Ciclo','MCT','ELE','IND','MEC','CIV','CGF','ECA','Recursante','Cant.Materias','Cant.c1','1PC1','2PC1','TC1','Cant.c2','Abandono'])

In [17]:
df

,Anho,Ciclo,MCT,ELE,IND,MEC,CIV,CGF,ECA,Recursante,Cant.Materias,Cant.c1,1PC1,2PC1,TC1,Cant.c2,Abandono
84,2019,1,1,0,0,0,0,0,0,0,5,1,0,0,0,0,1
272,2017,1,0,1,0,0,0,0,0,1,5,1,0,0,0,1,1
280,2019,2,0,1,0,0,0,0,0,1,4,1,0,0,0,2,1
284,2022,1,0,1,0,0,0,0,0,1,3,1,0,0,0,3,1
854,2019,1,0,1,0,0,0,0,0,0,2,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174958,2017,1,1,0,0,0,0,0,0,1,4,1,0,0,0,1,1
175127,2022,1,0,0,0,0,1,0,0,0,5,3,17,19,6,0,0
175284,2021,2,0,0,1,0,0,0,0,0,6,2,17,15,8,0,0
175290,2022,1,0,0,1,0,0,0,0,1,6,2,17,15,8,1,0
175430,2017,1,1,0,0,0,0,0,0,1,4,1,0,0,0,1,1

In [18]:
ruta_archivo = '/content/drive/My Drive/c2_dataset.csv'
df.to_csv(ruta_archivo, index=False)